#Fri Jul 02 12:21:00 CEST 2021
halfSenseConeAngle=60.0
maxLifetimeRandom=1000
trailColorToFood=red
maxTimeAwayFromNestFixed=1000
trailStrength=300
trailColorToNest=blue
antColor=white
antsAtStart=200
senseRadius=20
maxTrailStrength=1000
name=whiteAnts
maxRotation=10.0
maxRandomRotation=5.0
newAntsPerReturnedFood=0.3
maxLifetimeFixed=2000
maxTimeAwayFromNestRandom=1000
trailReduction=2
