#Mon Apr 19 17:48:02 CEST 2021
halfSenseConeAngle=60.0
maxLifetimeRandom=2000
trailColorToFood=magenta
maxTimeAwayFromNestFixed=750
trailStrength=300
antColor=yellow
trailColorToNest=cyan
antsAtStart=200
senseRadius=10
maxTrailStrength=1000
name=yellowAnts
maxRotation=10.0
maxRandomRotation=15.0
newAntsPerReturnedFood=0.3
maxLifetimeFixed=5000
maxTimeAwayFromNestRandom=250
trailReduction=3.0
