#Fri Jul 02 12:07:14 CEST 2021
halfSenseConeAngle=60.0
maxLifetimeRandom=2000
trailColorToFood=magenta
maxTimeAwayFromNestFixed=750
trailStrength=100
trailColorToNest=cyan
antColor=yellow
antsAtStart=200
senseRadius=20
maxTrailStrength=1000
name=yellowAnts
maxRotation=10.0
maxRandomRotation=10.0
newAntsPerReturnedFood=0.3
maxLifetimeFixed=5000
maxTimeAwayFromNestRandom=250
trailReduction=1.0
