#Mon Apr 19 17:49:36 CEST 2021
halfSenseConeAngle=60.0
maxLifetimeRandom=2000
trailColorToFood=red
maxTimeAwayFromNestFixed=500
trailStrength=200
antColor=white
trailColorToNest=blue
antsAtStart=200
senseRadius=10
maxTrailStrength=500
name=whiteAnts
maxRotation=10.0
maxRandomRotation=20.0
newAntsPerReturnedFood=0.3
maxLifetimeFixed=1000
maxTimeAwayFromNestRandom=300
trailReduction=3.0
